<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig 
  xmlns="http://ibatis.apache.org/dataMapper" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="false"/>
    <!--true表示statementName要使用Namespace-->
    <setting cacheModelsEnabled="true"/>
  </settings>

  <providers resource="providers.config"/>
  <!--指定providers.config文件的路徑-->

  <!-- Database connection information -->
  <database>
    <provider name="sqlServer4.0"/>
    <!--設置數據庫連接字符串-->
    <dataSource name="MyTestDB" connectionString="Data Source=.;Initial Catalog=MyTestDB;uid=sa;pwd="/>
  </database>

  <!--db與Entity的映射文件-->
  <sqlMaps>
    <sqlMap resource="Models/SqlMaps/Student.xml"></sqlMap>
    <sqlMap resource="Models/SqlMaps/Course.xml"></sqlMap>
  </sqlMaps>

</sqlMapConfig>